* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
del {
  text-decoration: line-through;
}
body {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #253858;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}
input,
textarea,
select {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

a {
  color: #253858;
}
a:hover,
.submit:hover {
  filter: alpha(opacity = 85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}
.thumb {
  display: block;
}
.thumb img {
  display: block;
  width: 100%;
}
p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "inter", Arial;
  font-weight: 500;
  color: #42526e;
}
.hidden {
  display: none;
}
br.clear {
  clear: both;
  line-height: 0;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}
@font-face {
  font-family: "Island Moments";
  src: url("../fonts/IslandMoments-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-ExtraBold"
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-ExtraLight";
  src: url("../fonts/Inter-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Light";
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Black";
  src: url("../fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter_Regular";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter_SemiBold";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter_Thin";
  src: url("../fonts/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter_Regular";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::placeholder {
  color: #c0ccda;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #c0ccda;
}

::-ms-input-placeholder {
  color: #c0ccda;
}

header {
  height: 200px;
}

header section.wrapper {
}

header section.wrapper div.top {
}

header section.wrapper div.top div.social {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header section.wrapper div.top div.social ul {
  display: flex;
}

header section.wrapper div.top div.social ul li {
  margin-right: 30px;
}
header section.wrapper div.top div.social ul li:last-child {
  margin-right: 0;
}

header section.wrapper div.top div.social ul li a {
  font-size: 12px;
}

header section.wrapper div.top div.social p {
  font-size: 12px;
}

header section.wrapper div.top div.contact {
  display: flex;
  justify-content: space-between;
}
header section.wrapper div.top div.contact div.items {
  display: flex;
}

header section.wrapper div.top div.contact div.item {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
header section.wrapper div.top div.contact div.item:last-child {
  margin-right: 0;
}

header section.wrapper div.top div.contact div.item div.left {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
header section.wrapper div.top div.contact div.item div.left img {
  width: 100%;
  display: block;
}

header section.wrapper div.top div.contact div.item div.right {
}
header section.wrapper div.top div.contact div.item div.right a {
  display: block;
  font-size: 13px;
  font-weight: bold;
}
header section.wrapper div.top div.contact div.item div.right a.trans {
  opacity: 50%;
  font-size: 15px;
  font-weight: normal;

  line-height: 1.9;
}

header section.wrapper div.top div.contact div.search {
  font-size: 15px;
}

header section.wrapper div.bottom {
  height: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

header section.wrapper div.bottom div.left {
}

header section.wrapper div.bottom div.left h1 {
  
}

header section.wrapper div.bottom div.left h1 a {
  font-size: 30px;
  font-family: "Inter_Regular";
  color: #5ca26e;
}

header section.wrapper div.bottom div.middle {
  display: flex;
  align-items: baseline;
  
  
}

header section.wrapper div.bottom div.middle nav {
  margin-right: 20px;
}

header section.wrapper div.bottom div.middle nav ul {
  display: flex;
}

header section.wrapper div.bottom div.middle nav ul li {
  margin-right: 30px;
}
header section.wrapper div.bottom div.middle nav ul li:last-child{
  margin-right: 90px;
}

header section.wrapper div.bottom div.middle nav ul li a {
  font-size: 13px;
  display: inline-block;
  color: #000;
  font-weight: bold;
  
  
}
header section.wrapper div.bottom div.middle nav ul li a:hover{
  border-top: 1px solid #000;
}

header section.wrapper div.bottom div.middle.right {
  display: flex;
  align-items: center;
}
header section.wrapper div.bottom div.middle.right h1 {
 
}
header section.wrapper div.bottom div.middle.right h1 a {
  display: inline-block;
  color: #000;
  font-size: 13px;
  margin-right:5px;
  font-weight:500;
}


header section.wrapper div.bottom div.middle.right  img {
  display: block;
  width:75%;
  
 
}
section.spotlight { 
  padding: 120px 0;
  background: url(/images/Landing-Background.jpg);

}

section.spotlight section.wrapper { 

}

section.spotlight section.wrapper section.image_container { 
  display: flex;
  justify-content: space-between;
  
  
  

}

section.spotlight section.wrapper section.image_container div.first_image {
  background: url("../images/Landing-img-1.jpg") no-repeat; 
  background-size: cover;
  width: 63%;
  position: relative;


}

section.spotlight section.wrapper section.image_container div.first_image div.content { 
 width: 50%;
 margin: 20px 0 30px 35px;
 
  

  
}

section.spotlight section.wrapper section.image_container div.first_image div.content small { 
  display: block;
  margin-top: 20px;
  color: #5ca26e;
  font-size: 40px;
  font-family: "Island Moments";

  

}

section.spotlight section.wrapper section.image_container div.first_image div.content h1 { 
  font-size: 66px;

  font-weight: 600;
  color: #000;
  
  

}

section.spotlight section.wrapper section.image_container div.first_image div.content h2{ 
  position:relative;
  font-size: 42px;
  margin-left: 140px;
  font-weight: 600;
  color: #000;
  margin-bottom: 30px;
  
 

}
section.spotlight section.wrapper section.image_container div.first_image div.content h2:before{ 
  position:absolute;
  border-bottom: 5px solid #5ca26e;
  width: 122px;
  left: -135px;
  bottom: 25px;
  content: "";

}


section.spotlight section.wrapper section.image_container div.first_image div.content p { 
  color: #979aa0;
  margin-bottom: 35px;
 

}

section.spotlight section.wrapper section.image_container div.first_image div.content a.button { 
  padding: 15px 25px;
  background: #5ca26e;
  margin-bottom: 20px;
  
}

section.spotlight section.wrapper section.image_container div.second_image { 
  background: url("../images/Landing-img-2.jpg") no-repeat;
  background-size: cover ;
  width: 35%;

  

}

section.spotlight section.wrapper section.image_container div.second_image div.content { 
  width: 70%;
  
  margin: 30px 20px 10px 60px;

}

section.spotlight section.wrapper section.image_container div.second_image div.content h1 { 
  font-size:40px;
  color: #ffe085;
  font-family:"Inter_SemiBold" ;

}
section#category { 
  padding: 70px 0;
}

section#category section.wrapper { 

}

section#category section.wrapper div.heading { 
  
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  

}

section#category section.wrapper div.heading div.left { 
  border-left: 2px solid #253858;
 

}

section#category section.wrapper div.heading div.left h2 { 
  font-size: 24px;
  color: #000;
  padding: 10px;
  font-weight: 600;

}

section#category section.wrapper div.heading div.right { 

}

section#category section.wrapper div.heading div.right h3 { 
 
}
section#category section.wrapper div.heading div.right h3 a{
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #5ca26e;
  color: #5ca26e;

}

section#category section.wrapper div.categories { 
  margin-top: 40px;

}

section#category section.wrapper div.categories ul { 
  display: flex;
  justify-content: space-between;
  
  
}

section#category section.wrapper div.categories ul li { 
  width: 100%;
  padding: 15px;
  background: hsl(0, 0%, 97%);
  
 


}

section#category section.wrapper div.categories ul li a {
  display: inline-block; 
  width: 100px;

}

section#category section.wrapper div.categories ul li a img { 
  display: block;
  width: 100%;

}

section#category section.wrapper div.categories ul li h5 { 
  text-align: center;
  margin-top: 10px;

}

#gallery{
  padding: 120px 0;

}
#gallery section.wrapper{

}
#gallery section.wrapper section.container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  

}
#gallery section.wrapper section.container div.left{
  width: 63%;


  
}

#gallery section.wrapper section.container div.left div.top{
  background:url("../images/Organic-Product.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
 
 


}
#gallery section.wrapper section.container div.left div.top div.top_left{
  padding-top: 20px;
  width: 50%;
  margin-left: 20px;
  color: #fff;
  
}
#gallery section.wrapper section.container div.left div.top div.top_left h1{
  font-size:26px;
  
  
  
}
#gallery section.wrapper section.container div.left div.top div.top_left h3{
  font-size: 26px;
  margin-bottom: 50px;
  
}
#gallery section.wrapper section.container div.left div.top div.top_left div.text{
 display: flex;
 justify-content: space-around;
 margin-bottom: 70px;
}

#gallery section.wrapper section.container div.left div.top div.top_left div.text span{
  display:block;
  
}

#gallery section.wrapper section.container div.left div.top div.top_left div.text small{
  display:block;
  
}
#gallery section.wrapper section.container div.left div.top_right{
  width: 50%;
  padding: 10px 0;

}
#gallery section.wrapper section.container div.left div.top div.top_left a.button{
  padding: 15px 25px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

#gallery section.wrapper section.container div.left div.top_right{
  width: 50%;
 
}
#gallery section.wrapper section.container div.left div.top_right a.button{
  padding: 25px 5px;
  background: #fff;
  border-radius:50% ;
  display: inline-block;
  width: 50px;


}

#gallery section.wrapper section.container div.bottom{
  margin-top: 20px;
  width:100% ;
  height: 49%;
  display: flex;
  justify-content: space-between;

}
#gallery section.wrapper section.container div.bottom div.bottom_left{
  width: 49%;
  background: url("../images/All-Smoothie.jpg") no-repeat;
  background-size: cover;
}
#gallery section.wrapper section.container div.bottom div.bottom_left h2{
  font-size: 28px;
  margin-top: 20px;
  margin-left: 20px;
 

}
#gallery section.wrapper section.container div.bottom div.bottom_left h3{
  font-size: 28px;
  
  margin-left: 20px;
  
}
#gallery section.wrapper section.container div.bottom div.bottom_left a.button{
  padding: 15px 25px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 20px;

}
#gallery section.wrapper section.container div.bottom div.bottom_right{
  width: 48%;
  background: url("../images/Everyday-Fresh.jpg") no-repeat;
  background-size: cover;

}
#gallery section.wrapper section.container div.bottom div.bottom_right h2{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 26px;

}
#gallery section.wrapper section.container div.bottom div.bottom_right h3{
  margin-left: 20px;

  font-size: 26px;
}
#gallery section.wrapper section.container div.bottom div.bottom_right h1{
  font-size: 26px;
  margin-top: 20px;
  color: #CB1A1A;
  margin-left: 20px;

}
#gallery section.wrapper section.container div.bottom div.bottom_right a.button{
  padding: 15px 25px;
  background: #5ca26e;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 20px;

}

#gallery section.wrapper section.container div.right{
  width: 35%;
  

  background:url("../images/Sale-img-kiwi.jpg") no-repeat;
  background-size:cover;

}
#gallery section.wrapper section.container  div.right h2{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 26px;


}
#gallery section.wrapper section.container div.right small{
  margin-left: 20px;
  margin-top: 20px;
  
  display: block;
}
#gallery section.wrapper section.container  div.right h3{
  font-size: 16px;
  color: #979aa0;
  margin-left: 20px;
  margin-top: 20px;
}

#our_products{


}
#our_products section.wrapper{

}
#our_products section.wrapper section.product{


}
#our_products section.wrapper section.product div.top{
  display: flex;
  justify-content: space-between;
 
  align-items: center;
}
#our_products section.wrapper section.product div.top div.left{
  border-left: 2px solid #253858;
}
#our_products section.wrapper section.product div.top div.left h2{
  font-size: 24px;
  color: #000;
  padding: 10px;
  font-weight: bold
}
#our_products section.wrapper section.product div.top div.right{

}
#our_products section.wrapper section.product div.top div.right ul{
  display: flex;
  justify-content: space-between;
}
#our_products section.wrapper section.product div.top div.right ul li{
  margin-right: 20px;
 

}
#our_products section.wrapper section.product div.top div.right ul li:last-child{
  margin-right: 0;
}
#our_products section.wrapper section.product div.top div.right ul li a{
  font-size: 12px;
  font-weight: 600;
}


section#our_products section.wrapper section.product div.bottom { 
  margin-top: 60px;
  

}

section#our_products section.wrapper section.product div.bottom ul { 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  

}

section#our_products section.wrapper section.product div.bottom ul li { 
  background: #f7faff;
 
  width: 18%;
  margin-bottom: 20px;

}

section#our_products section.wrapper section.product div.bottom ul li a.button { 
  padding: 10px 15px;
  background: #cc1a1a;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  text-align: left;
  font-weight:600;
  

}
section#our_products section.wrapper section.product div.bottom ul li:nth-child(2) a.button{
  background:#f7faff;
}
section#our_products section.wrapper section.product div.bottom ul li:nth-child(4) a.button{
  background:#f7faff;
}
section#our_products section.wrapper section.product div.bottom ul li:nth-child(7) a.button{
  background:#f7faff;
}
section#our_products section.wrapper section.product div.bottom ul li:nth-child(9) a.button{
  background:#f7faff;
}
section#our_products section.wrapper section.product div.bottom ul li:nth-child(5) a.button { 
  padding: 10px 15px;
  background: #a6a6a6;;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  text-align: left;
  font-weight:600;

}
section#our_products section.wrapper section.product div.bottom ul li:nth-child(10) a.button { 
  padding: 10px 15px;
  background: #a6a6a6;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  text-align: left;
  font-weight:600;

}

section#our_products section.wrapper section.product div.bottom ul li div.img { 
 width: 100px;
 
}

section#our_products section.wrapper section.product div.bottom ul li div.img img { 
  display: block;
  width: 100%;
   margin-top: 20px;
 


}

section#our_products section.wrapper section.product div.bottom ul li h3 { 
  font-size:14px;
  font-weight:600;
  

}

section#our_products section.wrapper section.product div.bottom ul li ul { 
  display: flex;
  justify-content: revert;
  align-items: center;
  

}

section#our_products section.wrapper section.product div.bottom ul li ul li { 
 width:6%;
 

}

section#our_products section.wrapper section.product div.bottom ul li ul li img { 
  display: block;
  width: 100%;
  margin-top: 10px;

  

}

section#our_products section.wrapper section.product div.bottom ul li span { 
  display: inline-block;
  margin-bottom: 20px;
  background: #e3e3e3;
  font-size: 12px;
  

}
section#services { 
  padding:50px 0;
  

}

section#services section.wrapper { 

}

section#services section.wrapper div.service { 
  display: flex;
  justify-content: space-between;
  align-items: center;

}

section#services section.wrapper div.service div.service_item { 
  width:25%;
  
  display: flex;
 
  align-items: center;
 
  border-right: 2px solid #A6A6A6;
  height: 20px;
  margin-right: 20px;
  

}
section#services section.wrapper div.service div.service_item:last-child{
  border: none;
}

section#services section.wrapper div.service div.service_item div.left_img { 
 width: 60px;
 margin-left: 20px;
}
section#services section.wrapper div.service div.service_item:first-child div.left_img{
 margin-left: 0;
}

section#services section.wrapper div.service div.service_item div.left_img img { 
  display: block;
  width: 100%;

}

section#services section.wrapper div.service div.service_item div.right_content { 
  margin-left: 20px;

}

section#services section.wrapper div.service div.service_item div.right_content h2 { 
  font-size: 16px;
  color: #8E8E8E;
 

}

section#services section.wrapper div.service div.service_item div.right_content h3 { 
  font-size: 12px;
  color: #A6A6A6;

}
section#testimonial { 

}

section#testimonial section.wrapper { 

}

section#testimonial section.wrapper section.container { 
  background: #f7faff;
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  
}

section#testimonial section.wrapper section.container div.left { 
  display: flex;
  justify-content: start;


}

section#testimonial section.wrapper section.container div.left div.arrow_left { 

}

section#testimonial section.wrapper section.container div.left div.arrow_left img { 
  display: block;
  width: 100%;

}

section#testimonial section.wrapper section.container div.middle { 
  width: 100%;
  text-align: center;
  

}

section#testimonial section.wrapper section.container div.middle div.top { 
  width: 50%;
  margin: 20px auto;
  
  text-align: center;

}

section#testimonial section.wrapper section.container div.middle div.top div.quotes { 
width: 50px;
margin: 0 auto;
}

section#testimonial section.wrapper section.container div.middle div.top div.quotes img { 
  display: block;
  width: 100%;

}

section#testimonial section.wrapper section.container div.middle div.top h2 { 
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;

}

section#testimonial section.wrapper section.container div.middle div.top p { 
  font-size: 16px;
  color: #A6A6A6;
  font-family:"inter_regular";
  margin-top: 20px;

}

section#testimonial section.wrapper section.container div.middle div.bottom { 
  
text-align: center;
align-items: center;
display: flex;
margin-left: 47%;



 
  

}

section#testimonial section.wrapper section.container div.middle div.bottom div.pic { 

 

}

section#testimonial section.wrapper section.container div.middle div.bottom div.pic img { 
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 20px 0 40px;

  


}

section#testimonial section.wrapper section.container div.middle div.bottom div.idtity { 


}

section#testimonial section.wrapper section.container div.middle div.bottom div.idtity h5 { 
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;

}

section#testimonial section.wrapper section.container div.middle div.bottom div.idtity p { 
  font-size: 12px;
 color: #979aa0;

}

section#testimonial section.wrapper section.container div.right { 
  display: flex;
  justify-content: end;

}

section#testimonial section.wrapper section.container div.right div.arrow_right { 

}

section#testimonial section.wrapper section.container div.right div.arrow_right img { 
  display: block;
  width: 100%;
  margin-bottom: 20px;

}
section#best_seller { 
  padding: 20px 0;

}

section#best_seller section.wrapper { 

}

section#best_seller section.wrapper div.top { 
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;

}

section#best_seller section.wrapper div.top div.left { 
  border-left: 2px solid #253858;

}

section#best_seller section.wrapper div.top div.left h2 { 


}

section#best_seller section.wrapper div.top div.left h2 a { 
  font-size: 24px;
  color: #000;
  padding: 10px;
  font-weight: bold;

}

section#best_seller section.wrapper div.top div.right { 

}

section#best_seller section.wrapper div.top div.right h3 { 

}

section#best_seller section.wrapper div.top div.right h3 a { 
  font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #5ca26e;
    color: #5ca26e;

}

section#best_seller section.wrapper div.bottom { 
  width: 100%;

}

section#best_seller section.wrapper div.bottom ul { 
  display: flex;
  justify-content: space-between;

}

section#best_seller section.wrapper div.bottom ul { 

}

section#best_seller section.wrapper div.bottom ul  li { 
  background: #f7faff;
    width: 18%;
    margin-bottom: 10px;

}

section#best_seller section.wrapper div.bottom ul  li a.button { 
  padding: 10px 15px;
  background: #cc1a1a;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  text-align: left;
  font-weight: 600;

}
section#best_seller section.wrapper div.bottom ul  li:nth-child(2) a.button { 
  background: #f7faff;
}
section#best_seller section.wrapper div.bottom ul  li:nth-child(4) a.button { 
  background: #f7faff;
}
section#best_seller section.wrapper div.bottom ul  li:nth-child(5) a.button { 
  padding: 10px 15px;
    background: #a6a6a6;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    text-align: left;
    font-weight: 600;

}



section#best_seller section.wrapper div.bottom ul  li div.img { 
 width: 100px;
}

section#best_seller section.wrapper div.bottom ul  li div.img img { 
  display: block;
  width: 100%;
  margin-top: 20px;


}

section#best_seller section.wrapper div.bottom ul  li h3 { 
  font-size: 14px;
  font-weight: 600;

}

section#best_seller section.wrapper div.bottom ul  li ul { 
  display: flex;
  justify-content: revert;
  align-items: center;

}

section#best_seller section.wrapper div.bottom ul  li ul li { 
  width: 6%;
}

section#best_seller section.wrapper div.bottom ul  li ul li img { 
  display: block;
  width: 100%;
  margin-top: 10px;
}

section#best_seller section.wrapper div.bottom ul  li span { 
  display: inline-block;
  margin-bottom: 20px;
  background: #e3e3e3;
  font-size: 12px;

}















